/* Общая структура и сетка */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
}
body h2 {
        color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #62338f;
    color: white;
    text-align: center;
    width: 100%;
     margin: 0; padding: 0;
     border-radius: 10px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #cf95ff;
}

main section {
    margin-bottom: 40px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.game-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.game-card img {
    width: 100%;
    height: auto;
}

.game-card h3 {
    font-size: 1.5em;
    margin: 10px;
}

.game-card p {
    margin: 10px;
}

.play-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ad59fc;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
}

.play-btn:hover {
    background-color: #c9a8ff;
}

.category-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-list li {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.category-list a {
    color: white;
    text-decoration: none;
}

.category-list li:hover {
    background-color: #FFD700;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px 0;
}


    }

    game-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
h1{
    font-family: "Arial Black", sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    /* Создание многослойного контура и объема */
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000000,
         4px  4px 0px #6dfafa, /* Цвет подложки */
         6px  6px 10px rgba(0,0,0,0.5); /* Мягкая тень */
    letter-spacing: 2px;
}
header {
    position: sticky;
    top: 0; /* Это значение определяет расстояние сверху, начиная с которого header станет фиксированным */
    z-index: 100; /* Чтобы шапка отображалась над остальными элементами при перекрытии */
}