header{background-color: rgb(169, 240, 210);
    
        font-family: 'Prompt', sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        word-spacing: 5px;
        color: #331b9e;
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        padding-left: 100px;
        }
        main

}